.root {
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-text-fill: #666666;
    -fx-background-color: #fbfbfb;
    -fx-padding: 10px 20px;

    turquoise-dark-blule: #34727D;
    turquoise-blule: #40B5C9;
    light-blue: #69BBC9;
    light-brown: #C9732C;
    brown: #7D5534;
    deep-blue:  #1D5162;
}

.button {
    -fx-padding: 4px 12px;
    -fx-min-width: 120px;
    -fx-alignment: center;
    -fx-font-weight: 800;
    -fx-text-fill: #000;
}

.button:hover {
}




.button-edit {
    -fx-background-image: url("../../../Resources/Images/Icons/edit-dark.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-padding: 2px 5px 4px 5px;

}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
}
