.root {
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-text-fill: #666666;
    -fx-background-color: #fbfbfb;
    -fx-padding: 10px 20px;

    turquoise-dark-blule: #34727D;
    turquoise-blule: #40B5C9;
    light-blue: #69BBC9;
    light-brown: #C9732C;
    brown: #7D5534;
    deep-blue:  #1D5162;
}

.button {
    -fx-padding: 4px;
    -fx-padding-left: 20px;
    -fx-min-width: 50px;
    -fx-text-alignment: right;
    -fx-font-weight: 800;
    -fx-text-fill: #000;
}

.button:hover {
}

.button-back {
    -fx-padding: 4px 8px;
    -fx-border-style: solid;
    -fx-border-color: #61a2b1;
    -fx-border-width: 3px;
    -fx-border-radius: 30px;
    -fx-background-color: linear-gradient(#ffffff, #a7caca, deep-blue);
    -fx-background-radius: 30px;
}

.button-back :hover {
    -fx-background-color: linear-gradient(#2A5058, #69BBC9);
    -fx-border-color: #3D7A85;
}


.button-edit {
    -fx-background-image: url("../../../Resources/Images/Icons/edit-dark.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-padding: 4px 5px 4px 20px;

}

.title {
    -fx-font-size: 20px;
    -fx-font-weight: 800;
}
