.sidebar {
  -fx-padding: 8px;
  -fx-background-color: #1D5162;
}

.search-form-label {
  -fx-text-fill: #FBFBFB;
}

.header {
  -fx-padding: 16px;
}

.group {
  -fx-padding: 8px;
}

.main {
  -fx-padding: 16px;
  -fx-background-color: white;
}

.border-box {
  -fx-border-style: solid;
  -fx-border-width: 1px;
  -fx-border-color: #666666;
  -fx-border-radius: 4px;
}

.arrow {
  -fx-cursor: pointer;
  -fx-padding: 8px;
  -fx-text-fill: #666666;
  -fx-font-weight: 900;
}

.currentDate {
  -fx-padding: 8px;
  -fx-text-fill: #666666;
  -fx-font-weight: 900;
}

.button-search {
  -fx-background-color:#FFD15B;
  -fx-text-fill: #1D5162;
}

.button-icon {
  -fx-cursor: pointer;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
.button-cell {
  -fx-cursor: pointer;
  -fx-min-width: 64px;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.closed-cell {
  -fx-background-color: #dcdada;
}

.occupied-cell-1 {
  -fx-background-color: rgba(161, 204, 210, 0.8);
}

.occupied-cell-2 {
  -fx-background-color: rgba(255, 211, 197, 0.8);
}

.occupied-cell-3 {
  -fx-background-color: rgba(255, 242, 174, 0.8);
}
