.root {
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-text-fill: #859195;
    -fx-background-color: #fbfbfb;
    -fx-padding: 20px;

    text-fill: #525252;
    turquoise-dark-blule: #34727D;
    turquoise-blule: #40B5C9;
    light-blue: #69BBC9;
    light-brown: #C9732C;
    brown: #7D5534;
    deep-blue:  #1D5162;
    white-color: white;
}

.sidebar {
  -fx-padding: 8px;
  -fx-background-color: deep-blue;
}

.search-form-label {
  -fx-text-fill: #FBFBFB;
}

.header {
  -fx-padding: 16px;
}

.footer {
  -fx-padding: 16px 8px;
}

.group {
  -fx-padding: 8px ;
}

.main {
  -fx-padding: 16px;
}

.border-box {
  -fx-padding: 8px 16px;
  -fx-border-style: solid;
  -fx-border-width: 2px;
  -fx-border-color: text-fill;
  -fx-border-radius: 4px;
}

.arrow {
  -fx-font-size: 18px;
  -fx-cursor: pointer;
  -fx-padding: 8px 16px;
  -fx-text-fill: text-fill;
  -fx-font-weight: 900;
}

.current-date {
  -fx-font-size: 18px;
  -fx-text-fill: text-fill;
  -fx-font-weight: 900;
}

.reload-image-text {
  -fx-padding: 8px 16px;
  -fx-text-fill: text-fill;
  -fx-font-weight: 900;
}

.reload-image {
  -fx-border-style: solid;
  -fx-border-width: 2px;
  -fx-border-color: text-fill;
  -fx-border-radius: 4px;
  -fx-padding: 8px 16px;
}

.button-search {
  -fx-background-color:#FFD15B;
  -fx-text-fill: #1D5162;
}

.button-icon {
  -fx-cursor: pointer;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
.button-cell {
  -fx-cursor: pointer;
  -fx-min-width: 64px;
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.closed-cell {
  -fx-background-color: #dcdada;
}

.occupied-cell-1 {
  -fx-background-color: rgba(161, 204, 210, 0.7);
}

.occupied-cell-2 {
  -fx-background-color: rgba(255, 211, 197, 0.7);
}

.occupied-cell-3 {
  -fx-background-color: rgba(255, 242, 174, 0.7);
}

.checkin-cell-1 {
  -fx-background-color: rgb(71, 196, 212, 0.7);
  -fx-text-fill: white;
}

.checkin-cell-2 {
  -fx-background-color: rgb(252, 114, 72, 0.7);
  -fx-text-fill: white;
}

.checkin-cell-3 {
  -fx-background-color: rgb(248, 218, 69, 0.7);
  -fx-text-fill: white;
}

.checkout-cell-1 {
  -fx-background-color: rgba(112, 134, 136, 0.7);
}

.checkout-cell-2 {
  -fx-background-color: rgba(250, 218, 208, 0.7);
}

.checkout-cell-3 {
  -fx-background-color: rgba(252, 243, 197, 0.7);
}

.button-3d {
  -fx-padding: 4px 8px;
  -fx-border-style: solid;
  -fx-border-color: linear-gradient(#a7caca, #61a2b1,  deep-blue);
  -fx-border-width: 3px;
  -fx-border-radius: 30px;
  -fx-background-color: linear-gradient(#ffffff, #a7caca, deep-blue);
  -fx-background-radius: 30px;
}

.button-3d :hover {
  -fx-background-color: linear-gradient(#2A5058, #69BBC9);
  -fx-border-color: #3D7A85;
}
