.root {
    -fx-font-size: 13px;
     -fx-font-family: "Roboto";
    -fx-text-fill: #666666;
    -fx-background-color: #fbfbfb;
}

.button {
    -fx-font-weight: 800;
    -fx-padding: 5px 8px;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #666666;
    -fx-min-width: 100px;
    -fx-alignment: center;
}

.button:hover {
}

.common-label-title {
    -fx-font-weight: bold;
    }


.button-flat {
    -fx-border-color: #666666;
    -fx-background-color: #fbfbfb;
}

.button-flat:hover {
    -fx-background-color: #FFD15B;
}

.button-3d{
    -fx-font-weight: 800;
    -fx-border-radius: 30px;
    -fx-border-color: #34717c;
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-background-color: linear-gradient(#ffffff, #34717c);
}

.button-3d:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.home-label-title {
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    }


.home-root {
    -fx-background-color: #1D5162;
}



/* (45, 45) (255, 255) */
/*
    -fx-padding: 10px;
    -fx-pref-height: 90px;
    -fx-pref-width: 90px;
    */